[submodule "windie"]
	path = windie
	url = https://github.com/buiilding/Windie-Sandbox.git
	branch = main
[submodule "bifrost"]
	path = bifrost
	url = https://github.com/maximhq/bifrost.git
	branch = dev
[submodule "cua"]
	path = cua
	url = https://github.com/trycua/cua.git
	branch = main
[submodule "DesktopCommanderMCP"]
	path = DesktopCommanderMCP
	url = https://github.com/wonderwhy-er/DesktopCommanderMCP.git
	branch = main
[submodule "blender-mcp"]
	path = blender-mcp
	url = https://github.com/ahujasid/blender-mcp.git
	branch = main
